<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttp.feature.launch">

    <application>
        <activity
            android:name="com.ttp.feature.launch.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>